.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    gap: 2rem;

    

    .aboutContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        .head {
            h1 {
            font-weight: 500;
            }
        }

        .about {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;

            .name {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                img {
                    height: 3rem;
                    width: 3rem;
                    border-radius: 1rem;
                    object-fit: cover;
                    object-position: top;
                }

                h2 {
                    font-weight: 400;
                }

            }
    
    
            p {
                width: 100%;
                min-width: 30ch;
            }
        }

        .socials {
            display: flex;
            gap: 1rem;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .profilePic {
        display: none;  
    }
}

@media(min-width:800px) {
    .aboutSection {
        padding: 5rem 12rem;
        flex-direction: row-reverse;
        gap: 3rem;

        .aboutContainer{
            width: 60%;
            align-items: flex-start;
            flex-shrink: 1;
            gap: 3rem;

            .head {
                h1 {
                    font-size: 2.4rem;
                }
            }
            
            .about {
               
                
                .name {
                    img {
                        display: none;
                    }
                    h2 {
                        font-size: 2rem;
                    }
                }

                p{
                    min-width: 30ch;
                    max-width: 45ch;
                }
            }

            .socials {
                svg {
                    height: 2rem;
                    width: 2rem;
                }
            }
        }

        .profilePic {
            display: initial;
            width: 40%;
            min-width: 320px;
            flex-shrink: 1;
            aspect-ratio: 4/4;

            img {
            height: 90%;
            width: 90%;
            object-fit: cover;
            object-position: top;
            border-radius: 1rem;

        }
           
        }
    }
}